<ion-view title="Reserva1" id="page12">
  <ion-content padding="true" class="has-header">
    <h1 id="reserva1-heading3" style="color:#000000;">Reserva 1</h1>
    <div id="reserva1-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Reserva do dia 00/00/00 - 00h00</p>

      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div id="reserva1-button-bar8" class="button-bar">
      <a ui-sref="tabsController.minhasReservas()" id="reserva1-button28" class="button button-positive">Apagar Histórico</a>
    </div>
  </ion-content>
</ion-view>