<ion-view title="Selecionar veículos" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="selecionarVeCulos-form18" class="list">
      <label class="item item-select" id="selecionarVeCulos-select2">
        <span class="input-label">Selecionar veículos</span>
        <select>
          <option>Carro 1</option>
          <option>Carro 2</option>
          <option>Carro 3</option>
        </select>
      </label>
    </form>
    <ion-list id="selecionarVeCulos-list7">
      <ion-item class="item-divider" id="selecionarVeCulos-list-item-divider1"> Placa: ABC 1234</ion-item>
      <ion-item class="item-divider" id="selecionarVeCulos-list-item-divider2"> Modelo: JEEP Renegade</ion-item>
      <ion-item class="item-divider" id="selecionarVeCulos-list-item-divider3"> Ano: 2016</ion-item>
      <ion-item class="item-divider" id="selecionarVeCulos-list-item-divider5"> Cor: Preto</ion-item>
      <ion-item class="item-divider" id="selecionarVeCulos-list-item-divider4"> Veículo Próprio</ion-item>
    </ion-list>
    <div id="selecionarVeCulos-button-bar4" class="button-bar">
      <a ui-sref="tabsController.reservarVagas()" id="selecionarVeCulos-button30" class="button button-positive button-block">Confirmar</a>
      <a ui-sref="tabsController.reservarVagas()" id="selecionarVeCulos-button31" class="button button-positive button-block">Cancelar</a>
    </div>
  </ion-content>
</ion-view>