<div [@routerTransition]>
   
	<div ng-app="validationApp" ng-controller="mainController">
    
    	<div class="container">  	
    		<section id="latdir">

        		<div class="col-sm-8 col-sm-offset-2">
            
		            <!-- PAGE HEADER -->		                 
		            <!-- FORM -->
		            <!-- passa a variável se nosso formulário é válida ou inválida -->
		            <!-- novalidate isso vai evitar a validação padrão do HTML5, já que vamos fazer isso usando o Angular -->

		            <form (ngSubmit)='onSubmit()' #formulario> 

		            	<div>
		            		<h1>Alteração da Empresa</h1>
		            	</div>
		               
		                <div class="form-group" >
		                    <label>Nome</label>
		                    <span>
		                    <input type="text" class="form-control" id="nome" required [(ngModel)]="model.razao_social" name="nome" #nome="ngModel" [ngModelOptions]="{ updateOn: 'change'}"></span>
		                </div>

		                <div class="form-group">
		                    <label>Nome Fantasia</label>
		                    <input type="text" name="nameFant" class="form-control" required [(ngModel)]="model.nome_fantasia" #nomeFantasia="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>

		                <div class="form-group">
		                    <label>CNPJ</label>
		                    <input type="text" name="cnpj" class="form-control" (input)= "formatCnpj()" maxlength="18" required [(ngModel)]="model.cnpj" #cnpj="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>

		                <!-- SUBMIT BUTTON -->
		                <button type="submit" class="btn btn-primary">Enviar</button>
		                <button type="button" class="btn btn-primary" (click)=" deletar()">Deletar</button>
		                <a [routerLink]="['/empresa/lista']"><button type="button" class="btn btn-primary">Cancelar</button></a>
		            </form>	  
		         </div><!-- col-sm-8 -->      
        	</section>      
    	</div><!-- /container -->
</div>
