<div [@routerTransition]>
   
	<div ng-app="validationApp" ng-controller="mainController">
    
    	<div class="container">  	
    		<section id="latdir">

        		<div class="col-sm-8 col-sm-offset-2">
            
		        	<form (ngSubmit)='onSubmit()' #formulario> 

		            	<div>
		            		<h1>Alteração de Colaborador</h1>
		            	</div>
		               
		                <div class="form-group">
		                    <label>Nome</label>
		                    <input type="text" class="form-control" required [(ngModel)]="model.nome" name="nome"#nome="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>		                
		                <div class="form-group" >
		                    <label>Email</label>
		                    <span>
		                    <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel" [ngModelOptions]="{ updateOn: 'change'}"></span>
		                </div>
		                <div class="form-group">
		                    <label>Senha</label>
		                    <input type="password" name="senha" class="form-control" required [(ngModel)]="model.senha" #senha="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>
		                <!--<div class="form-group">
		                    <label>Confirmar senha</label>
		                    <input type="password" name="confsenha" class="form-control" required [(ngModel)]="model.confsenha" #confsenha="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>-->	               
		               <div class="form-group" >
		                    <label>CPF</label>
		                    <span>
		                    <input type="text" class="form-control" id="cpf" required [(ngModel)]="model.cpf" name="cpf" #cpf="ngModel" [ngModelOptions]="{ updateOn: 'change'}"></span>
		                </div>
		                <div class="form-group" >
		                    <label>Telefone</label>
		                    <span>
		                    <input type="text" class="form-control" id="telefone" required [(ngModel)]="model.telefone" name="telefone" #cpf="ngModel" [ngModelOptions]="{ updateOn: 'change'}"></span>
		                </div>
		               
		                <button type="submit" class="btn btn-primary">Enviar</button>
		                <a [routerLink]="['/colaborador/dados']"><button type="button" class="btn btn-primary">Voltar
		                </button></a>
		            </form>	  
		         </div>  
        	</section>      
    	</div>
	</div>
</div>
 <router-outlet></router-outlet>