<div [@routerTransition]>
   
	<div ng-app="validationApp" ng-controller="mainController">
    
    	<div class="container">  	
    		<section id="latdir">

        		<div class="col-sm-8 col-sm-offset-2">
            
		            <form (ngSubmit)='onSubmit()' #formulario> 

		            	<div>
		            		<h1>Cadastro do Estabelecimento</h1>
		            	</div>
		               
		                <div class="form-group" >
		                    <label>Unidade</label>
		                    <span>
		                    <input type="text" class="form-control" id="unidade" required [(ngModel)]="model.unidade" name="unidade" #unidade="ngModel" [ngModelOptions]="{ updateOn: 'change'}"></span>
		                </div>

		                <div class="form-group">
		                    <label>Endereço</label>
		                    <input type="text" name="endereco" class="form-control" required [(ngModel)]="model.endereco" #endereco="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>

		                <div class="form-group">
		                    <label>Inicio do funcionamento</label>
		                    <input type="time" name="horario_inicio" class="form-control" required [(ngModel)]="model.horario_inicio" #horario_inicio="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>

		                <div class="form-group">
		                    <label>Fim do funcionamento</label>
		                    <input type="time" name="horario_fim" class="form-control" required [(ngModel)]="model.horario_fim" #horario_fim="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>

		                <div class="form-group">
		                    <label>Cobrar a cada</label>
		                    <input type="time" name="hora" class="form-control" required [(ngModel)]="model.hora" #cobrar="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>

		                   <div class="form-group">
		                    <label>Valor da hora</label>
		                    <input type="text" name="valor_hora" (input)= "formatPreco()" class="form-control" maxlength="6" required [(ngModel)]="model.valor_hora" #valor_hora="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>
		                <button type="submit" class="btn btn-primary">Enviar</button>
		                 <a [routerLink]="['/estabelecimento/lista']"><button type="button" class="btn btn-primary">Cancelar</button></a>
		            </form>	  
		         </div>  
        	</section>      
    	</div>
	</div>
</div>
 <router-outlet></router-outlet>