<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        
    
        <a [routerLink]="['/reservas/lista']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span><i class="fa fa-plus"></i>&nbsp; {{ 'Reservas' | translate }}</span></a>
        
        <div class="nested-menu" *ngIf="gestor!=undefined">
            <a class="list-group-item" (click)="addExpandClass('colaborador')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Colaborador' | translate }}</span>
            </a>
           
            <li class="nested" [class.expand]="showMenu === 'colaborador'">
                <ul class="submenu">
                    <li>
                       <a [routerLink]="['/colaborador/cadastro']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Cadastro' | translate }}</span></a>
                    </li>
                    <li>
                       <a [routerLink]="['/colaborador/dados']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Dados' | translate }}</span></a>
                    </li>
                    <li>
                       <a [routerLink]="['/colaborador/lista']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Lista' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

         <div class="nested-menu" *ngIf="proprietario=='S'">
            <a class="list-group-item" (click)="addExpandClass('empresa')" >
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Empresa' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'empresa'">
                <ul class="submenu">
                    <li>
                       <a [routerLink]="['/empresa/cadastro']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Cadastro' | translate }}</span></a>
                    </li>
                    <li>
                       <a [routerLink]="['/empresa/dados']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Dados' | translate }}</span></a>
                    </li>
                    <li>
                       <a [routerLink]="['/empresa/lista']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Lista' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu" *ngIf="proprietario=='S'">
            <a class="list-group-item" (click)="addExpandClass('estabelecimento')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Estabelecimento' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'estabelecimento'">
                <ul class="submenu">
                    <li>
                       <a [routerLink]="['/estabelecimento/cadastro']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Cadastro' | translate }}</span></a>
                    </li>
                    <li>
                       <a [routerLink]="['/estabelecimento/dados']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Dados' | translate }}</span></a>
                    </li>
                     <li>
                       <a [routerLink]="['/estabelecimento/lista']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Lista' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu" *ngIf="gestor!=undefined">
            <a class="list-group-item" (click)="addExpandClass('vaga')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Vaga' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'vaga'">
                <ul class="submenu">
                    <li>
                       <a [routerLink]="['/vaga/cadastro']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Cadastro' | translate }}</span></a>
                    </li>
                    <li>
                       <a [routerLink]="['/vaga/dados']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Dados' | translate }}</span></a>
                    </li>
                    <li>
                       <a [routerLink]="['/vaga/lista']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Lista' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>


<!-- ------------------------------------------------------------------------------------------- -->
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; {{ nome }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/colaborador/dados']">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
