<div [@routerTransition]>
	<div class="container-fluid">
		<div>
			<div class="card">
				<div class="card-header">
					<h3>Listas das Vagas</h3>
				</div>

				<div class="card-body" id="corpo" *ngFor="let vaga of model | async">
					<div>
						<div align="right"><a [routerLink]="['/vaga/alterar/', vaga.id_vaga]">Editar</a></div>
						<h4>Setor: {{ vaga.setor }}</h4><br>
						<h5>Número: {{ vaga.numero }}</h5><br>
						<!--<h5>Situação: {{ vaga.situacao}}</h5>-->
  					</div>					
				</div>
			</div>			
		</div>
	</div>
</div>