<div [@routerTransition]>
	<div class="container-fluid">
		<div>
			<div class="card">
				<div class="card-header">
					<h3>Dados do Estabelecimento</h3>
				</div>
				<div class="card-body" >
					<div align="right">
						<a [routerLink]="['/estabelecimento/alterar/', dados.id_estabelecimento]">Editar</a>
					</div>
					<div ng-controller="dados">
						<label><strong>Unidade:</strong></label>
							<span>{{ dados.unidade }}</span><br />
						<label><strong>Endereço:</strong></label>
							<span>{{ dados.endereco }}</span><br />
							<label><strong>Aberto:</strong></label>
							<span>{{ dados.horario_inicio }}</span><br />
						<label><strong>Fechamento:</strong></label>
							<span>{{ dados.horario_fim }}</span><br />
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>