<div [@routerTransition]>
      
    	<div class="container">  	
    		<h1>Reservas</h1>

            <form (ngSubmit)='onSubmit()'>
                <div>

                    <label><strong>Número da Reserva: </strong></label>
                    <div class="col-xl-10">
                        <input type="text" class="form-control" id="numero" required [(ngModel)]="dados.numero" name="numero" #numero="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
                    </div>
                    <div class="col-xl-2">
                        <br>
                            <button type="submit" class='btn btn-primary'>Buscar</button>
                        <br>
                    </div>
                </div>
            </form>
            
    		<table class="table">
    			<THEAD>
    				<tr>
    					<th>Número</th>
    					<th>Carro</th>
    					<th>Placa</th>
    					<th>Hora Marcada</th>
    					<th>Estado</th>
    				</tr>
    				<tr *ngFor="let reserva of reservas | async; let i = index">
    					<td>{{ reserva.id_reserva }}</td>
    					<td>{{ reserva.Veiculo.marca }} - {{ reserva.Veiculo.modelo }} </td>
    					<td>{{ reserva.Veiculo.placa }}</td>
    					<td>{{ reserva.hora_marcada }}</td>
    					<td>{{ situacao[reserva.situacao] }}</td>
    				</tr>
    			</THEAD>
    		</table>
    	</div>
 
</div>