<div [@routerTransition]>

	<script type="text/javascript" 
	src="jquery.js" type="text/javascript"
	src="jquery.maskedinput.js" type="text/javascript">
	</script>

	<div ng-app="validationApp" ng-controller="mainController">
    
    	<div class="container">  	
    		<section id="latdir">

        		<div class="col-sm-8 col-sm-offset-2">
            
		            <!-- passa a variável se nosso formulário é válida ou inválida -->
		            <!-- novalidate isso vai evitar a validação padrão do HTML5, já que vamos fazer isso usando o Angular -->
		            <script>
		            jQuery(function($){
					   $("#cpf").mask("999.999.999-99");
					});
					</script>

		            <form (ngSubmit)='onSubmit()' #formulario> 

		            	<div>
		            		<h1>Cadastro de Empresas</h1>
		            	</div>
		               
		                <div class="form-group" novalidate>
		                    <label>Nome</label>
		                    <span>
		                    <input type="text" class="form-control" id="nome" [(ngModel)]="model.nome" name="nome" #nome="ngModel" [ngModelOptions]="{ updateOn: 'change'}" required ></span>
		                </div>

		                <div class="form-group">
		                    <label>Nome Fantasia</label>
		                    <input type="text" name="nameFant" class="form-control" required [(ngModel)]="model.nomeFantasia" #nomeFantasia="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>
		               
		                <div class="form-group">
		                    <label>Email</label>
		                    <input type="email" name="email" class="form-control" placeholder="Informe o email" required [(ngModel)]="model.email" #email="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>

		                <div class="form-group">
		                    <label>CNPJ</label>
		                    <input type="text" name="cnpj" class="form-control" placeholder="somente números" maxlength="13" required [(ngModel)]="model.cnpj" #cnpj="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>

		                <div class="form-group">
		                    <label>Telefone</label>
		                    <input type="text" name="telefone" class="form-control" placeholder="somente números" maxlength="11" required="required" [(ngModel)]="model.telefone" #telefone="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>

		                <div class="form-group">
		                    <label>Nome Proprietário</label>
		                    <input type="text" name="nameProprietario" class="form-control" required  [(ngModel)]="model.nomeProprietario" #nomeProprietario="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>

		                <div class="form-group">
		                    <label>CPF</label>
		                    <input type="text" name="CPF" id="cpf" class="form-control" ng-model="cpf" maxlength="11" placeholder="somente números" required [(ngModel)]="model.cpf" #cpf="ngModel" [ngModelOptions]="{ updateOn: 'change'}">
		                </div>

		                <!-- SUBMIT BUTTON -->
		                <button type="submit" class="btn btn-primary">Enviar</button>
		                <a [routerLink]="['/empresa/lista']"><button type="button" class="btn btn-primary">Cancelar</button></a>

		            </form>	  
		         </div><!-- col-sm-8 -->      
        	</section>      
    	</div><!-- /container -->
</div>

 <router-outlet></router-outlet>