<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>WebParking</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="dados.email" name="email" required #email="ngModel" [ngModelOptions]="{ updateOn: 'change'}" class="form-control input-underline input-lg" id="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="dados.senha" name="senha" required #senha="ngModel" [ngModelOptions]="{ updateOn: 'change'}" class="form-control input-underline input-lg" id="senha" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()"> Log in </a>
                &nbsp;
               
            </form>
        </div>
    </div>
</div>
