<ion-view title="Cadastro" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="cadastro-form9" class="list">
      <ion-item class="item-thumbnail-left" id="cadastro-list-item23">
        <img src="img/mIt6wAGzTQiruyb5sQce_2772425118_c27c2131d9_z.jpg">
        <h2>Foto</h2>
      </ion-item>
      <button id="cadastro-button14" style="font-weight:lighter;border-radius:-1px -1px -1px -1px;" class="button button-positive button-block icon-left ion-android-add-circle">Selecionar foto</button>
      <label class="item item-input" id="cadastro-input11">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="Digite seu nome">
      </label>
      <label class="item item-input" id="cadastro-input16">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="Digite seu e-mail">
      </label>
      <label class="item item-input" id="cadastro-input17">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="Digite sua senha">
      </label>
      <label class="item item-input" id="cadastro-input18">
        <span class="input-label">CPF</span>
        <input type="number" placeholder="Digite seu CPF">
      </label>
      <label class="item item-input" id="cadastro-input9">
        <span class="input-label">Telefone</span>
        <input type="tel" placeholder="Digite seu telefone">
      </label>
    </form>
    <a ui-sref="tabsController.cadastrarVeCulos()" id="cadastro-button15" class="button button-positive button-block icon-left ion-android-car">Cadastrar Veículos</a>
    <form id="cadastro-form12" class="list">
      <ion-item class="item-icon-right" id="cadastro-list-item24">Termos de uso
        <i class="icon ion-document-text"></i>
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="cadastro-toggle11">Aceita os termos de uso?</ion-toggle>
    </form>
    <div id="cadastro-button-bar6" class="button-bar">
      <a ui-sref="tabsController.dadosPessoais()" id="cadastro-button16" class="button button-positive button-block">Salvar</a>
      <a ui-sref="tabsController.dadosPessoais()" id="cadastro-button17" class="button button-positive button-block">Cancelar</a>
    </div>
    <div id="cadastro-button-bar7" class="button-bar"></div>
  </ion-content>
</ion-view>