<ion-view title="Cadastrar veículos" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="cadastrarVeCulos-form15" class="list">
      <label class="item item-input item-stacked-label" id="cadastrarVeCulos-input12">
        <span class="input-label">Placa</span>
        <input type="text" placeholder="Informe a placa do veículo">
      </label>
      <label class="item item-input item-stacked-label" id="cadastrarVeCulos-input13">
        <span class="input-label">Modelo</span>
        <input type="text" placeholder="Informe o modelo do veículo">
      </label>
      <label class="item item-input item-stacked-label" id="cadastrarVeCulos-input14">
        <span class="input-label">Ano</span>
        <input type="number" placeholder="Informe o ano do veículo">
      </label>
      <label class="item item-input item-stacked-label" id="cadastrarVeCulos-input15">
        <span class="input-label">Cor</span>
        <input type="text" placeholder="Informe a cor do veículo">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="cadastrarVeCulos-toggle8">Veículo próprio?</ion-toggle>
    </form>
    <div id="cadastrarVeCulos-button-bar3" class="button-bar">
      <a ui-sref="tabsController.cadastro()" id="cadastrarVeCulos-button24" class="button button-positive button-block">Salvar</a>
      <a ui-sref="tabsController.cadastro()" id="cadastrarVeCulos-button25" class="button button-positive button-block">Cancelar</a>
    </div>
  </ion-content>
</ion-view>