<ion-view title="Dados Pessoais" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="dadosPessoais-form2" class="list">
      <ion-item class="item-thumbnail-left" id="dadosPessoais-list-item21">
        <img src="img/VQtGB9VYSz2Yp1kSwQx2_2772425118_c27c2131d9_z.jpg">
        <h2>Foto</h2>
      </ion-item>
      <ion-item class="item-icon-left" id="dadosPessoais-list-item18">
        <i class="icon ion-android-person"></i>{{cliente.nome}}</ion-item>
      <ion-item class="item-icon-left" id="dadosPessoais-list-item19">
        <i class="icon ion-at"></i>joaosilva@gmail.com</ion-item>
      <ion-item class="item-icon-left" id="dadosPessoais-list-item12">
        <i class="icon ion-iphone"></i>(99)99999-9999</ion-item>
    </form>
    <div id="dadosPessoais-button-bar5" class="button-bar">
      <a ui-sref="tabsController.cadastro()" id="dadosPessoais-button37" class="button button-positive button-block">Atualizar Dados</a>
    </div>
    <div id="dadosPessoais-button-bar2" class="button-bar"></div>
  </ion-content>
</ion-view>