<ion-view title="Minhas Reservas" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="minhasReservas-list2">
      <ion-item class="item-icon-left" id="minhasReservas-list-item8" ui-sref="tabsController.reserva1()">
        <i class="icon ion-ionic"></i>Dia 10/09/2017
        <ion-option-button class="button-positive">Visualizar</ion-option-button>
        <ion-option-button class="button-assertive">Apagar</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left" id="minhasReservas-list-item9" ui-sref="tabsController.reserva1()">
        <i class="icon ion-ionic"></i>Dia 07/11/2017
        <ion-option-button class="button-positive">Visualizar</ion-option-button>
        <ion-option-button class="button-assertive">Apagar</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left" id="minhasReservas-list-item10" ui-sref="tabsController.reserva1()">
        <i class="icon ion-ionic"></i>Dia 22/12/2017 - 08h00
        <ion-option-button class="button-positive">Visualizar</ion-option-button>
        <ion-option-button class="button-assertive">Apagar</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left" id="minhasReservas-list-item14" ui-sref="tabsController.reserva1()">
        <i class="icon ion-ionic"></i>Dia 22/12/2017 - 13h34
        <ion-option-button class="button-positive">Visualizar</ion-option-button>
        <ion-option-button class="button-assertive">Apagar</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left" id="minhasReservas-list-item15" ui-sref="tabsController.reserva1()">
        <i class="icon ion-ionic"></i>Dia 22/12/2017 - 16h00
        <ion-option-button class="button-positive">Visualizar</ion-option-button>
        <ion-option-button class="button-assertive">Apagar</ion-option-button>
      </ion-item>
    </ion-list>
    <div id="minhasReservas-button-bar1" class="button-bar">
      <button id="minhasReservas-button6" class="button button-positive button-block">1</button>
      <button id="minhasReservas-button7" class="button button-positive button-block">2</button>
      <button id="minhasReservas-button8" class="button button-positive button-block">3</button>
    </div>
  </ion-content>
</ion-view>