<ion-view title="Sobre nós" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="sobreNS-heading2" style="color:#000000;">Web Parking</h1>
    <div id="sobreNS-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        v Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>
        Some friendly
        <strong>markdown</strong>Some </p>

      <p style="color:#000000;">Acesse nosso site: www.webparking.com.br</p>
    </div>
    <a ui-sref="tabsController.reservarVagas()" id="sobreNS-button19" class="button button-positive button-block">Voltar</a>
  </ion-content>
</ion-view>