<div [@routerTransition]>
   
	<div ng-app="validationApp" ng-controller="mainController">
    
    	<div class="container">  	
    		<section id="latdir">

        		<div class="col-sm-8 col-sm-offset-2">
            
		            <form (ngSubmit)='onSubmit()' #formulario> 

		            	<div>
		            		<h1>Cadastro das Vagas</h1>
		            	</div>
		               
		                <div class="form-group" >
		                    <label>Setor</label>
		                    <span>
		                    <input type="text" class="form-control" id="setor" required [(ngModel)]="model.setor" name="setor" #setor="ngModel" [ngModelOptions]="{ updateOn: 'change'}"></span>
		                </div>

		                <div class="form-group" >
		                    <label>Número de Vagas</label>
		                    <span>
		                    <input type="text" class="form-control" required [(ngModel)]="model.numero" name="numero" #numero="ngModel" [ngModelOptions]="{ updateOn: 'change'}"></span>
		                </div>

		                <div class="form-group" >
		                    <label>Situação</label>
		                    <span>
		                    <input type="text" class="form-control" required [(ngModel)]="model.situacao" name="situacao" #situacao="ngModel" [ngModelOptions]="{ updateOn: 'change'}"></span>
		                </div>

		                <div class="form-group" >
		                    <label>Tipo</label>
		                    <span>
		                    <input type="text" class="form-control" required [(ngModel)]="model.tipo" name="tipo" 
		                    #tipo="ngModel" [ngModelOptions]="{ updateOn: 'change'}"></span>
		                </div>

		                <button type="submit" class="btn btn-primary">Enviar</button>
		                <a [routerLink]="['/vaga/dados']"><button type="button" class="btn btn-primary">Cancelar</button></a>
		            </form>	  
		         </div>  
        	</section>      
    	</div>
	</div>
</div>
 <router-outlet></router-outlet>